* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0f172a; /* dark blue */
  color: #e5e7eb;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container {
  background: #020617;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #38bdf8;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: #020617;
  border: 1px solid #334155;
  color: #fff;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-color: #38bdf8;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #38bdf8;
  border: none;
  color: #020617;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}

pre {
  background: #020617;
  padding: 15px;
  border-radius: 5px;
  margin-top: 15px;
  overflow-x: auto;
  border: 1px solid #334155;
}

.admin {
  margin-top: 15px;
  color: #22c55e;
  font-weight: bold;
  text-align: center;
}

.user {
  margin-top: 15px;
  color: #facc15;
  font-weight: bold;
  text-align: center;
}

/* #accessMsg {
  margin-top: 15px;
  text-align: center;
} */
